# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# prisma
/prisma/migrations/dev.db*

# env files (never commit real secrets)
.env
.env*.local

# misc
.DS_Store
*.pem
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode/*
!.vscode/extensions.json
.idea
.neon
